@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-zinc-100;
	@apply dark:bg-zinc-800;
}

@layer base {
	/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * eurostile:
 *   - http://typekit.com/eulas/00000000000000007735a6d1
 *   - http://typekit.com/eulas/00000000000000007735a6d5
 *   - http://typekit.com/eulas/00000000000000007735a6e0
 *   - http://typekit.com/eulas/00000000000000007735a6e4
 *   - http://typekit.com/eulas/00000000000000007735a6e6
 *   - http://typekit.com/eulas/00000000000000007735a6ea
 * roboto:
 *   - http://typekit.com/eulas/00000000000000007735a09f
 *   - http://typekit.com/eulas/00000000000000007735a0a8
 *   - http://typekit.com/eulas/00000000000000007735a096
 *   - http://typekit.com/eulas/00000000000000007735a0a0
 *   - http://typekit.com/eulas/00000000000000007735a0a6
 *   - http://typekit.com/eulas/00000000000000007735a0aa
 *   - http://typekit.com/eulas/00000000000000007735a0ac
 *
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
	/*{"last_published":"2024-06-14 06:16:19 UTC"}*/

	@import url('https://p.typekit.net/p.css?s=1&k=rcp8kvx&ht=tk&f=15498.15505.15506.15507.15508.15509.15510.25750.25753.25763.25764.25765.25768&a=2338390&app=typekit&e=css');

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('woff'),
			url('https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/75987d/00000000000000007735a0a8/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/75987d/00000000000000007735a0a8/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('woff'),
			url('https://use.typekit.net/af/75987d/00000000000000007735a0a8/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/dec5ec/00000000000000007735a096/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/dec5ec/00000000000000007735a096/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3')
				format('woff'),
			url('https://use.typekit.net/af/dec5ec/00000000000000007735a096/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 300;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/eb6e64/00000000000000007735a0a0/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/eb6e64/00000000000000007735a0a0/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3')
				format('woff'),
			url('https://use.typekit.net/af/eb6e64/00000000000000007735a0a0/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i3&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 300;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/00cc08/00000000000000007735a0a6/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/00cc08/00000000000000007735a0a6/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('woff'),
			url('https://use.typekit.net/af/00cc08/00000000000000007735a0a6/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/71b9cd/00000000000000007735a0aa/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/71b9cd/00000000000000007735a0aa/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('woff'),
			url('https://use.typekit.net/af/71b9cd/00000000000000007735a0aa/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 500;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'roboto';
		src:
			url('https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('woff'),
			url('https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('woff'),
			url('https://use.typekit.net/af/d34cb9/00000000000000007735a6d1/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/f0a953/00000000000000007735a6d5/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/f0a953/00000000000000007735a6d5/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('woff'),
			url('https://use.typekit.net/af/f0a953/00000000000000007735a6d5/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('woff'),
			url('https://use.typekit.net/af/50b645/00000000000000007735a6e0/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3')
				format('opentype');
		font-display: fallback;
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/507787/00000000000000007735a6e4/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/507787/00000000000000007735a6e4/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('woff'),
			url('https://use.typekit.net/af/507787/00000000000000007735a6e4/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/750a94/00000000000000007735a6e6/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/750a94/00000000000000007735a6e6/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3')
				format('woff'),
			url('https://use.typekit.net/af/750a94/00000000000000007735a6e6/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 700;
		font-stretch: normal;
	}

	@font-face {
		font-family: 'eurostile';
		src:
			url('https://use.typekit.net/af/7aca3d/00000000000000007735a6ea/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('woff2'),
			url('https://use.typekit.net/af/7aca3d/00000000000000007735a6ea/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('woff'),
			url('https://use.typekit.net/af/7aca3d/00000000000000007735a6ea/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i5&v=3')
				format('opentype');
		font-display: fallback;
		font-style: italic;
		font-weight: 500;
		font-stretch: normal;
	}

	.tk-roboto {
		font-family: 'roboto', sans-serif;
	}
	.tk-eurostile {
		font-family: 'eurostile', sans-serif;
	}
}
